html, body {
	margin: 0px;
	background: #fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.95em;
	color:#4d4948;
	height: 100%;
}

body
{
	background: url(orderuplogo.png) no-repeat fixed 100% 100%;
}

h1 {
	margin: 0;
	text-align: center;
	font-size: 150%;
	padding: 0px;
}

h2 {
	margin: 0;
	text-align: center;
	font-size: 120%;
	padding: 0px;
}

h3 {
	margin: 0;
	font-size: 105%;
	padding: 0px;
}

a {
	color:#4d4948;
}

table.admin td {
	vertical-align: top;	
}

#error {
	display:block;
	margin:5px;
	color:#4d4948;
	background-color:#fffebe;
	border: 1px solid #cbcbcb;
	font-size:90%;
}

#success {
	margin:5px;
	color:#4d4948;
	background-color:#bce9b5;
	border: 1px solid #7ace6c;
	font-size:90%;
}

.paform
{
	border: 1px solid #000000;
	margin: 25px;
	display: table;
	padding: 10px;
	background-color: #e8e7e6;
}

.paform input, img, label, select, span.form, textarea
{
	margin: 5px;
	float: left;
}

.paform hr
{
	clear: both;
	margin: 7px;
	border-top: dotted;
	height: 1px;
}

span.paspan
{
	margin: 5px;
	float: left;
}

.paform label
{
	width: 180px;
	clear: left;
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}

span.comments
{
	width: 70%;
}

span.form
{
	width: 250px;
}

img.navbarimg
{
	width: 90px;
	height: 90px;
}

span.public
{
	color: #ff0000;
}

